@import url('base.css');

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  align-items: center;
}

.container {
  padding: 2rem;
  width: 100%;
}

.link {
  width: fit-content;
  border-bottom: 1px solid var(--color-text);
  cursor: pointer;
}

.fallback-msg {
  font-size: 3rem;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160deg 100% 37% / 20%);
  }
}
